@model BDPersonajes.Personaje

@{
    ViewData["Title"] = "AgregarPersonaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agregar Personaje</h1>

<h4>Datos del Personaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarPersonaje">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idPersonaje" class="control-label"></label>
                <input asp-for="idPersonaje" class="form-control" />
                <span asp-validation-for="idPersonaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edad" class="control-label"></label>
                <input asp-for="edad" class="form-control" />
                <span asp-validation-for="edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
