@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenidos a Springfield!</h1>
    <p>Para iniciar seleccione una opción en el menú, dentro del encabezado de este sitio web</a>.</p>
    <img src="~/simpsonssillon.png" />
</div>
